* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero p {
  color: cyan;
  letter-spacing: 3px;
}

/* GLITCH TITLE */
.glitch {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  position: relative;
  color: white;
  text-shadow:
    0 0 10px cyan,
    0 0 20px purple,
    0 0 40px red;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: cyan;
}

/* VIDEO */
.video-box iframe {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 0 30px purple;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 150px;
  background: rgba(255,255,255,0.05);
  border: 1px solid cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px cyan;
}

/* ABOUT */
.about p {
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
}

/* CONTACT */
.contact p {
  color: purple;
}

